Description=Website Bot
After=network-online.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/start.sh
WatchdogSec=60s
StartLimitBurst=3
StartLimitInterval=10min
NotifyAccess=all

[Install]
WantedBy=multi-user.target